*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body{
   font-family: 'Roboto'; 
}

header{
    display: flex;
    flex-direction: row;
    gap: 50%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageLink{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style: none;
}


.heroSection{
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    padding-bottom: 8rem;

}



.heroText{
    width: 40rem;
  
}

#heroMainText{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 1rem;
}

#heroSecondaryText{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 2rem;
}

#heroSectionButton{
    margin-top: 2rem;
    width: 7rem;
    height: 2rem;
    background-color: #3882F6;
    color: white;
    border: 0;
    border-radius: 0.5rem;
}



header,footer, .heroSection{
    background-color: #1f2937;
    color: white;
}


/* pagesLinkSection */

#pagesLinkSectionTitle{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem; 
}


.webPagesWrapper{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-bottom: 8rem;
}

.pagesImg{
    width: 10rem;
    height: 10rem;
    border: 2px solid #3882F6;
}


.webPagesImgWrapper{
    text-align: center;
}

.webPagesImgWrapper img{
    border-radius: 0.5rem;
}

